.footerLinks {
  margin: 0;
  padding: 0;
  list-style: none;
  columns: 2 auto;
}

.footerLinks > li {
  margin-bottom: 10px;
}

.footerLinks > li:last-child {
  margin-top: 35px;
}

.languageSettings {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;;
}

.footerLink {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  text-decoration: none;
  color: #000000;
}

.lang {
  width: 20px;
  height: 20px;
  fill: #838383;
}

.btnLang {
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #101010;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.active {
  color: #FFA542;
}

@media (min-width: 992px) {
  .btnLang:hover {
    color: #FFA542;
  }

  .footerLink:hover {
    color: #FFA542;
  }
}
