.footerLinks {
  margin: 0;
  padding: 0;
  list-style: none;
  -moz-columns: 2 auto;
       columns: 2 auto;
}

.footerLinks > li {
  margin-bottom: .625rem;
}

.footerLinks > li:last-child {
  margin-top: 2.1875rem;
}

.languageSettings {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;;
}

.footerLink {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.0625rem;
  text-decoration: none;
  color: #000000;
}

.lang {
  width: 1.25rem;
  height: 1.25rem;
  fill: #838383;
}

.btnLang {
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: .9375rem;
  color: #101010;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.active {
  color: #FFA542;
}

@media (min-width: 992px) {
  .btnLang:hover {
    color: #FFA542;
  }

  .footerLink:hover {
    color: #FFA542;
  }
}

@media (max-width: 768px) {
  .footerLinks {
    align-self: center;
  }
}

@media (max-width: 576px) {
  .footerLinks {
    -moz-columns: 1 auto;
         columns: 1 auto;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .container {
    width: 20rem;
  }
}
