.purchase {
  display: flex;
  justify-content: space-between;
  width: 39.5625rem;
  height: 13.625rem;
  padding: 1.125rem 1.75rem .9375rem 1.1875rem;
  background-color: #fff;
  border-radius: 1.875rem;
}

.imgWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.1875rem;
}

.img {
  width: 9.1875rem;
  height: 8.5rem;
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btnDel {
  padding: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.del {
  width: 1.25rem;
  height: 1.0625rem;
  text-align: right;
}

.title {
  margin: 0;
  margin-bottom: .75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.0625rem;
  color: #1C1C27;
}

.price {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: .9375rem;
  color: #AAAAAA;
}

.totalPrice {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: .9375rem;
  color: #1C1C27;
}

.titleWrapper {
  align-self: center;
  margin-left: 1.5rem;
  flex-grow: 2;
}

.priceWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.btnQuantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  border: none;
  background-color: #FFCE7F;
  cursor: pointer;
}

.quantity {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.0625rem;
  color: #000000;
}

.plus {
  width: .875rem;
  height: .875rem;
}

.minus {
  width: .875rem;
  height: .125rem;
}

@media (min-width: 992px) {
  .del:hover {
    transform: translateY(-.3125rem);
    transition: 0.5s;
  }

  .btnQuantity:hover {
    transform: rotateX(180deg);
    transition: 1s;
  }
}

@media (max-width: 768px) {
  .purchase {
    width: 36rem;
  }
}

@media (max-width: 576px) {
  .purchase {
    width: 23.4375rem;
  }

  .img {
    width: 8.1875rem;
    height: 7.5rem;
  }

  .totalPrice {
    margin-left: -1.2rem;
  }

  .title {
    font-size: 1rem;
  }

  .price {
    font-size: .8375rem;
  }

  .quantity {
    font-size: 1rem;
  }
  
  .btnQuantity {
    width: 1.675rem;
    height: 1.675rem;
  }
}

@media (max-width: 375px) {
  .purchase {
    flex-direction: column;
    width: 20rem;
    height: 22.625rem;
  }

  .imgWrapper {
    align-items: center;
  }

  .btnWrapper {
    gap: 1.5rem;
  }

  .titleWrapper {
    margin-top: 3rem;
  }

  .price {
    text-align: center; 
  }

  .priceWrapper {
    flex-direction: row;
  }
}