.card {
  padding: 15px 18px 27px 22px;
  width: 350px;
  height: 407px;
  border-radius: 30px;
  background-color: #fff;
}


.imgAirPods {
  position: relative;
  left: 50%;
  width: 220px;
  height: 237px;
  margin-bottom: 54px;
  margin-left: -110px;
}

.card:last-child > .imgAirPods {
  height: 177px;
  margin-top: 42px;
  margin-bottom: 72px;
}

.borofone {
  position: relative;
  left: 50%;
  width: 201px;
  height: 240px;
  margin-top: 12px;
  margin-bottom: 39px;
  margin-left: -100.5px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.cardTitle {
  margin: 0 0 25px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  color: #1C1C27;
}

.cardRate {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  color: #838383;
}


.rateWrapper {
  display: flex;
  gap: 10px;
}

.cardPrice {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  text-align: right;
  color: #FFA542;
}

.mb {
  margin-bottom: 16px;
}

.cardOldPrice {
  margin: 0;
  margin-right: 7px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
  text-align: right;
  text-decoration: line-through;
  color: #FFCE7F;
}


.priceAndBuy {
  display: inline-flex;
  flex-direction: column;
}

.priceWrapper {
  margin-bottom: 26px;
}

.oldPriceWrapper {
  margin-bottom: 16px;
}

.star, .details {
  width: 23px;
  height: 22px;
}

.details {
  fill: #838383;
}

.btnDetails {
  margin: 0;
  padding: 0;
  width: 23px;
  height: 22px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

@media (min-width: 992px) {
  .details:hover {
    transform: translateY(-5px);
    fill: #FFCE7F;
  }
}
