.btn {
  position: absolute;
  width: inherit;
  height: 65px;
  bottom: 0;
  margin-bottom: -6px;
  border-radius: 20px;
  border: none;
  background-color: #101010;
  cursor: pointer;
}

.btnPay {
  position: static;
  width: 300px;
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #FFA542;
    border: 1px solid #FFA542;
    transition: 0.5s;
  }
}