.btn {
  position: absolute;
  width: inherit;
  height: 4.0625rem;
  bottom: 0;
  margin-bottom: -.375rem;
  border-radius: 1.25rem;
  border: none;
  background-color: #101010;
  cursor: pointer;
}

.btnPay {
  position: static;
  width: 18.75rem;
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #FFA542;
    border: 1px solid #FFA542;
    transition: 0.5s;
  }
}