.nav {
  padding: 1.8125rem 1.6875rem 2rem 1.6875rem;
  display: flex;
  justify-content: space-between;
  border-radius: 1.875rem 1.875rem 0 0;
  background-color: #fff;
}

.socialList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1.125rem;
}

.vk {
  margin-top: .3125rem;
  width: 1.875rem;
  height: 1.3125rem;
  fill: #101010;
  cursor: pointer;
}

.tg, .whatsapp {
  width: 1.875rem;
  height: 1.875rem;
  fill: #101010;
  cursor: pointer;
}

@media (min-width: 992px) {
  .vk:hover, .whatsapp:hover, .tg:hover{
    transform: translateY(-0.3125rem);
    fill: #FFA542;
  }
}


@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  .socialList {
    justify-content: center;
    gap: 2.1875rem;
  }
}
