.nav {
  padding: 29px 27px 32px 27px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px 30px 0 0;
  background-color: #fff;
}

.socialList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.vk {
  margin-top: 5px;
  width: 30px;
  height: 21px;
  fill: #101010;
  cursor: pointer;
}

.tg, .whatsapp {
  width: 30px;
  height: 30px;
  fill: #101010;
  cursor: pointer;
}

@media (min-width: 992px) {
  .vk:hover, .whatsapp:hover, .tg:hover{
    transform: translateY(-5px);
    fill: #FFA542;
  }
}