.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px 15px;
}

.listLinks {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}


.favorites {
  width: 22px;
  height: 20px;
  fill: #838383;
}

.basket {
  width: 23px;
  height: 23px;
  fill: #838383;
}