.form {
  margin-bottom: 3rem;
  width: 21.8125rem;
  height: 25rem;
  padding: 1.5625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.125rem;
  border-radius: 1.875rem;
  background-color: #fff;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.input {
  padding: 0 .625rem;
  margin-top: .625rem;
  width: 18.75rem;
  height: 2.5rem;
  border-radius: .625rem;
  border: .0625rem solid #1C1C27;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: .9375rem;
  background-color: #fff;
  color: #1C1C27;
  outline: transparent;
}

.input:focus {
  border: .125rem solid #FFCE7F;
}

.label {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: .9375rem;
  color: #1C1C27;
}

.btnText {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.0625rem;
  color: #ffffff;
}

@media (max-width: 375px) {
  .form {
    width: 20rem;
  }
}
